main{
    padding: 50px 360px;
    .search{
        display: flex;
        justify-content: center;
        input{
            text-align: center;
            padding-left: 10px;
            background: url('/img/icons/search.svg') no-repeat;
            background-position: center left 15px;
        }
    }
}