@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
h1,h2,h3,h4,h5,p, input, a{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.btn{
    padding: 0px 15px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background: #3B4650;
    @extend %flex-center-sb;
    display: inline-flex;
    column-gap: 10px;
    cursor: pointer;
}
.btn-white{
    color: black;
    border: 1px solid #3B4650;
    width: 650px;
    background-color: white;
}
.title{
    text-align: center;
}