%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
%flex-center-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%flex{
    display: flex;
}
%main-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}